
.icon-LOGO-PSHSAca-Full-Logo-Tagline {
	background-image: url('png/LOGO-PSHSAca-Full-Logo-Tagline.png');
	background-repeat: no-repeat;
}

.icon-closesymbol {
	background-image: url('png/closesymbol.png');
	background-repeat: no-repeat;
}

.icon-closesymbol_blue {
	background-image: url('png/closesymbol_blue.png');
	background-repeat: no-repeat;
}